* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: #e5e5e5;
  font-family: Roboto, system-ui, -apple-system, "Segoe UI", sans-serif;
}